.messages-area{
    margin-bottom: 120px;
    .messages-area-main{
        background-color: var(--black);
        .foram-area{
            padding: 40px 40px 40px 0;
            .section-title{
           
            }
            .messages-form{
                .input-group{
                    margin-bottom: 20px;
                 input {
                    width: 100%;
                    height: 60px;
                    background-color: transparent;
                    border: 1px solid #333F4D;
                    border-radius: 5px;
                    color: var(--white);
                    padding: 0 20px;
                    transition: var(--transision);
                    &:focus {
                        border-color: #FF6600;
                    }
                }
                 select {
                    width: 100%;
                    height: 60px;
                    background-color: transparent;
                    border: 1px solid #333F4D;
                    border-radius: 5px;
                    color: var(--white);
                    padding: 0 20px;
                    padding-right: 40px;
                    appearance: none;
                    position: relative;
                    background: url("../img/icons/down-arrow.png") 94% / 4% no-repeat;
                    transition: var(--transision);
                    &:focus {
                        border-color: var(--primary);
                    }
                     option {
                        color: var(--black);
                    }
                }
                 textarea {
                    width: 100%;
                    background-color: transparent;
                    border: 1px solid #333F4D;
                    border-radius: 5px;
                    color: var(--white);
                    padding: 15px 20px;
                    resize: none;
                    transition: var(--transision);
                }
            }
            .submit-btn {
                width: 100%;
                background-color: var(--primary);
                height: 72px;
                line-height: 72px;
                border: 0;
                border-radius: 5px;
                color: var(--white);
                font-family: var(--link-font-family);
                font-weight: 700;
                &:hover {
                    background-color: var(--white);
                    color: var(--black);
                }
            }
            } 
        }
    }
}